.u-center-text {
	text-align: center;
}
.margin-small {
	margin-bottom: 1.5rem;
}
.margin-medium {
	margin-bottom: 4rem;
}
.margin-large {
	margin-bottom: 8rem;
}
.margin-top-small {
	margin-top: 1.5rem;
}
.margin-top-medium {
	margin-top: 4rem;
}
.margin-top-huge {
	margin-top: 10rem;
}
