.card {
	height: 50rem;
	width: 100%;
	background-color: $color-white;
	border-radius: 3px;
	font-size: 1.5rem;
	position: relative;
	backface-visibility: hidden;
	transition: all 7s;
	&__front-side {
		position: absolute;
		height: 50rem;
	}

	&__back-side {
		position: absolute;
		height: 50rem;
		z-index: -1;
	}
}
